*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color-scheme: dark;
}

.navbar-brand {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navbar-nav .nav-item {
    padding-right: 30px;
    font-size: 23px;
}

i {
    font-size: 35px;
}

input.email-holder {
    background-color: whitesmoke;
}

input.submit-holder {
    background-color: #305c5c;
    padding-left: 20px;
    padding-right: 20px;
}

.recipes a {
    
}